@charset "utf-8";
/* CSS Document */

:root {
	--background-color: #996B60;
	--title: #FFFFFF;
	--text-color: #000000;
	--button-bacground-color: #191919;
	--button-text-color: #FFFFFF;
	--background-color-two: #000000;
}

.body {
	width: 1440px;
	height: 6003px;
	color: var(--text-color);
	border-radius: 0px;
	padding: 0px;
	margin: 0px;
}

.hero-title{
	display: flex;
	margin-bottom: 34px;
	margin-top: 35px;
}
.hero-section{
	width: 1440px;
	height: 800px;
	display: flex;
}

.hero-foto {
	margin-top: 0px;
	margin-left: 0px;
}
.hero-content{
	width: 720px;
	color: var(--title);
	padding-top: 277px;
	padding-bottom: 100px;
	padding-left: 60px;
	background-color: var(--background-color);
}

.hero-title {
	width: 457px;
	height: 192px;
	font-weight: 400;
	font-size: 73px;
	line-height: 96px;
}

.hero-par {
	margin-bottom: 46px;
	width: 572px;
	height: 64px;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
}


.button {
	width: 180px;
	height: 52px;
	background: var(--background-color);
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*
.header {
	width: 1440px;
	height: 96px;
	margin-top: 0px;
	margin-left: 0px;
	display: flex;
}*/
.ul {
	display: flex;
	list-style-type: none;
}

.nav-li {
	display: inline-block;
}
.header-nav {
	width: 1440px;
	height: 96px;
	margin-top: 0px;
	margin-left: 0px;
	display: inline-block;
}

.nav {
	width: 1440px;
	height: 96px;
}

.nav-link {
	width: 42px;
	height: 18px;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 38px;
	margin-left: 60px;
	margin-bottom: 40px;
	color: var(--title);
}

.nav-link-1 {
	width: 102px;
	height: 18px;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 38px;
	margin-left: 162px;
	color: var(--title);
}

.nav-link-2 {
	width: 86px;
	height: 18px;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 38px;
	margin-left: 324px;
	color: var(--title);
}

.nav-link-3 {
	width: 103px;
	height: 18px;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 38px;
	margin-left: 1002px;
	color: var(--title);
}

.nav-link-4 {
	width: 75px;
	height: 18px;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 40px;
	margin-left: 1169px;
	color: var(--title);
}

.nav-link-5 {
	width: 66px;
	height: 18px;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 40px;
	margin-left: 1308px;
	color: var(--title);
}

.logo {
	width: 84px;
	height: 40px;
	margin-top: 25px;
	margin-left: 635px;
	margin-bottom: 31px;
}

.sector-press {
	width: 1320px;
	height: 227px;
	margin-top: 65px;
	margin-left: 60px;
}

.sector-press-li {
	width: 288px;
	height: 64px;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	margin-top: 4px;
	margin-left: 21px;
}

.sector-press-li-1 {
	width: 297px;
	height: 96px;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	margin-top: 4px;
	margin-left: 182px;
}

.sector-press-li-2 {
	width: 288px;
	height: 64px;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	margin-top: 4px;
	margin-left: 186px;
}

.sector-press-li-logo {
	margin-top: 5px;
	margin-left: 15px;
}

.sector-press-li-logo-1 {
	margin-top: 36px;
	margin-left: 180px;
}

.sector-press-li-logo-2 {
	margin-top: 5px;
	margin-left: 180px;
}

.sector-made {
	width: 1320px;
	height: 1141px;
	margin-top: 55px;
	margin-left: 60px;
}

.sector-made-div {
	width: 705.83px;
	height: 205px;
	margin-top: 50.41px;
	margin-left: 307.08px;
}
.sector-made-title {
	width: 673px;
	height: 160px;
	font-weight: 400;
	font-size: 64px;
	line-height: 80px;
	text-align: center;
	padding-top: 10px;
	padding-left: 20px;
	margin-top: 0.59px;
	margin-left: 15.92px;
}

.sector-made-par {
	width: 150px;
	height: 18px;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 24px;
	margin-left: 277.92px;
}

.vine {
	width: 1310.81px;
	height: 744.5px;
	margin-top: 82.41px;
	margin-left: 60px;
}

.vine-img {
	margin-top: 0.41px;
	margin-left: 27.41px;
}

.vine-img-1 {
	margin-top: 0.41px;
	margin-left: 54.59px;
}

.vine-img-2 {
	margin-top: 0.41px;
	margin-left: 54.59px;
}

.vine-title {
	width: 204px;
	height: 44px;
	font-weight: 400;
	font-size: 30px;
	line-height: 44px;
	text-align: center;
	margin-top: 19px;
	margin-left: 116.41px;
}

.vine-title-1 {
	width: 251px;
	height: 44px;
	font-weight: 400;
	font-size: 30px;
	line-height: 44px;
	text-align: center;
	margin-top: 19px;
	margin-left: 119.77px;
}

.vine-title-2 {
	width: 169px;
	height: 44px;
	font-weight: 400;
	font-size: 30px;
	line-height: 44px;
	text-align: center;
	margin-top: 19px;
	margin-left: 160.84px;
}

.vine-par {
	width: 366px;
	height: 56px;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	margin-top: 16px;
	margin-left: 35.41px;
}

.vine-par-1 {
	width: 378px;
	height: 56px;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	margin-top: 16px;
	margin-left: 56.77px;
}

.vine-par-2 {
	width: 364px;
	height: 56px;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	margin-top: 16px;
	margin-left: 56.77px;
}

.button-vine {
	width: 180px;
	height: 52px;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: var(--button-bacground-color);
	color: var(--button-text-color);
	margin-top: 27px;
	margin-left: 128.41px;
}

.button-vine-1 {
	width: 180px;
	height: 52px;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: var(--button-bacground-color);
	color: var(--button-text-color);
	margin-top: 27px;
	margin-left: 155.77px;
}

.button-vine-2 {
	width: 180px;
	height: 52px;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: var(--button-bacground-color);
	color: var(--button-text-color);
	margin-top: 27px;
	margin-left: 155.77px;
}

.apperitifs {
	width: 1440px;
	height: 870px;
	margin-top: 0px;
	margin-left: 0px;
}

.foto-apperitifs {
	margin-top: 60.09px;
	margin-left: 60px;
}

.apperitifs-title {
	width: 427px;
	height: 80px;
	font-weight: 400;
	font-size: 53px;
	line-height: 83px;
	margin-top: 54px;
	margin-left: 25px;
}

.apperitifs-par {
	width: 548px;
	height: 96px;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	margin-top: 59px;
	margin-right: 62px;
	margin-left: 343px;
}

.easy {
	width: 1440px;
	height: 717.61px;
	margin-top: 0px;
	margin-left: 0px;
}

.easy-div {
	width: 1440px;
	height: 717.61px;	
}

.ul-2 {
	list-style-type: none;
}
.easy-title {
	width: 385px;
	height: 44px;
	font-weight: 400px;
	font-size: 30px;
	line-height: 44px;
	padding: 0px;
	margin-top: 112.09px;
	margin-left: 30px;
	margin-bottom: 0px;
}

.easy-title-1 {
	width: 358px;
	height: 88px;
	font-weight: 400px;
	font-size: 30px;
	line-height: 44px;
	padding: 0px;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 0px;
}

.easy-title-2 {
	width: 385px;
	height: 44px;
	font-weight: 400px;
	font-size: 30px;
	line-height: 44px;
	padding: 0px;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 0px;
}

.easy-par {
	width: 381px;
	height: 96px;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	padding: 0px;
	margin-top: 17px;
	margin-left: 30px;
	margin-bottom: 0px;
}

.easy-par-1 {
	width: 373px;
	height: 125px;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	padding: 0px;
	margin-top: 17px;
	margin-left: 30px;
	margin-bottom: 0px;
}

.easy-par-2 {
	width: 354px;
	height: 64px;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	padding: 0px;
	margin-top: 17px;
	margin-left: 30px;
	margin-bottom: 0px;
}

.easy-foto {
	float: right;
	margin-top: -53px;
	margin-left: 45px;
}

.bayed {
	width: 1440px;
	height: 313px;
	background: var(--background-color-two);
	margin-top: 0px;
	margin-left: 0px;
}

.bayed-par {
	width: 301px;
	height: 64px;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	margin-top: 95.48px;
	margin-left: 75px;
}

.bayed-par-1 {
	width: 301px;
	height: 64px;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	margin-top: 95.48px;
	margin-left: 165px;
}

.bayed-par-2 {
	width: 301px;
	height: 64px;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	margin-top: 95.48px;
	margin-left: 165px;
}

.bayed-par-3 {
	width: 86px;
	height: 31px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	margin-top: -30px;
	margin-left: 165px;
}

.bayed-par-4 {
	width: 86px;
	height: 31px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	margin-top: 0px;
	margin-left: 391px;
}

.bayed-par-5 {
	width: 108px;
	height: 21px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	margin-top: 0px;
	margin-left: 365px;
}

.bayed-par-6 {
	width: 104px;
	height: 24px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	margin-top: -60px;
	margin-left: 160px;
}


.bayed-par-7 {
	width: 104px;
	height: 24px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	margin-top: -30px;
	margin-left: 375px;
}


.bayed-par-8 {
	width: 104px;
	height: 24px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	margin-top: -30px;
	margin-left: 360px;
}

.producers {
	display: flex;
	width: 1440px;
	height: 589.78px;
	margin-top: 0px;
	margin-left: 0px;
}

.producers-foto {
	float: left;
	margin-top: 60px;
	margin-left: 60px;
}

.producers-title {
	float: right;
	width: 628px;
	height: 160px;
	font-weight: 400;
	font-size: 64px;
	line-height: 80px;
	margin-top: 61px;
	margin-left: 110px;
}

.producers-par {
	float: right;
	width: 652px;
	height: 95px;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	margin-top: 94px;
	margin-left: 110px;
}

.producers-par-1 {
	float: left;
	width: 100px;
	height: 18px;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	margin-top: 30px;
	margin-left: 180px;
}

.set {
	width: 1440px;
	height: 568px;
	margin-top: 0px;
	margin-left: 0px;
}

.set-foto {
	margin-top: 0px;
	margin-left: 0px;
}

.set-content {
	width: 550px;
	height: 303px;
	background: var(--text-color);
	margin-top: 59.7px;
	margin-left: 60px;
}