@charset "utf-8";
/* CSS Document */

/*globals vars*/

:root {
	--background-color: #996B60;
	--title: #FFFFFF;
	--text-color: #000000;
	--link-color: rgba(255, 255, 255, 0.6);
	--button-bacground-color: #191919;
	--button-text-color: #FFFFFF;
	--background-color-two: #000000;
}

.body {
	color: var(--text-color);
	
	border-radius: 0px;
	padding: 0px;
	margin: 0px;
}

/*section hero*/

/*
.hero-title{
	display: flex;
	
	margin-bottom: 34px;
	margin-top: 34px;
}
*/
.hero-section{
	position: relative;
	display: flex;
	
	width: 1440px;
	height: 800px;
}

.hero-foto {
	margin-top: 0px;
	margin-left: 0px;
}
.hero-content{
	width: 720px;
	
	background-color: var(--background-color);
	color: var(--title);
	
	padding-top: 181px;
	padding-bottom: 100px;
	padding-left: 60px;
	
}

.hero-title {
	display: flex;
	
	width: 550px;
	height: 192px;
	
	font-weight: 400;
	font-size: 73px;
	line-height: 96px;
	
	margin-bottom: 34px;
	margin-top: 34px;
}

.hero-par {	
	width: 572px;
	height: 64px;
	
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	
	margin-top: 34px;
	margin-bottom: 46px;
}


.button {
	width: 180px;
	height: 52px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	
	background: var(--background-color);
	
	margin-top: 45px;
}

/*section header*/


.header {
	position: absolute;
	
	display: flex;
	
	width: 1440px;
	height: 96px;
	
	margin-top: 0px;
	margin-left: 0px;
	
}

/*css for class ul*/

.ul {
	display: flex;
	
	list-style-type: none;
}

.ul-2 {
	list-style-type: none;
}

/*section nav*/

/*
.nav-li {
	display: inline-block;
}
*/

/*section header nav link*/

.header-nav {
	display: inline-block;
	
	width: 1440px;
	height: 96px;
	
	margin-top: 0px;
	margin-left: 0px;
}

.nav {
	width: 1440px;
	height: 96px;
}

.nav-link {
	position: absolute;
	
	width: 42px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--title);
	
	margin-top: 38px;
	margin-left: 60px;
	margin-bottom: 40px;
}

.nav-link-1 {
	position: absolute;
	
	width: 102px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--title);
	
	margin-top: 38px;
	margin-left: 162px;
}

.nav-link-2 {
	position: absolute;
	
	width: 86px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--title);
	
	margin-top: 38px;
	margin-left: 324px;
}

.nav-link-3 {
	position: absolute;
	
	width: 103px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--title);
	
	margin-top: 38px;
	margin-left: 1002px;
}

.nav-link-4 {
	position: absolute;
	
	width: 75px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--title);
	
	margin-top: 38px;
	margin-left: 1169px;
}

.nav-link-5 {
	position: absolute;
		
	width: 66px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--title);
	
	margin-top: 38px;
	margin-left: 1308px;
}

.logo {
	position: absolute;
	
	width: 84px;
	height: 40px;
	
	margin-top: 25px;
	margin-left: 635px;
	margin-bottom: 31px;
}

/*section press*/

.sector-press {
	width: 1440px;
	height: 227px;
	
	margin-top: 65px;
	margin-left: 0px;
}

.sector-press-li {
	width: 288px;
	height: 64px;
	
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	
	margin-top: 4px;
	margin-left: 21px;
}

.sector-press-li-1 {
	width: 297px;
	height: 96px;
	
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	
	margin-top: 4px;
	margin-left: 182px;
}

.sector-press-li-2 {
	width: 288px;
	height: 64px;
	
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	
	margin-top: 4px;
	margin-left: 186px;
}

.sector-press-li-logo {
	margin-top: 5px;
	margin-left: 15px;
}

.sector-press-li-logo-1 {
	margin-top: 36px;
	margin-left: 180px;
}

.sector-press-li-logo-2 {
	margin-top: 5px;
	margin-left: 180px;
}

/*section made*/

.sector-made {
	width: 1440px;
	height: 1141px;
	
	margin-top: 55px;
	margin-left: 0px;
}


/*
.sector-made-div {
	width: 750px;
	height: 205px;
	
	margin-top: 50.41px;
	margin-left: 307.08px;
}
*/

.sector-made-title {
	width: 750px;
	height: 160px;
	
	font-weight: 400;
	font-size: 64px;
	line-height: 80px;
	text-align: center;
	
	padding-top: 10px;
	padding-left: 20px;
	margin-top: 0.59px;
	margin-left: 330px;
}

.sector-made-par {
	width: 150px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	
	margin-top: 24px;
	margin-left: 645px;
}

/*section vine*/

.vine {
	width: 1440px;
	height: 744.5px;
	
	margin-top: 82.41px;
	margin-left: 60px;
}

.vine-img {
	margin-top: 0.41px;
	margin-left: 0px;
}

.vine-img-1 {
	margin-top: 0.41px;
	margin-left: 45px;
}

.vine-img-2 {
	margin-top: 0.41px;
	margin-left: 45px;
}

.vine-title {
	width: 251px;
	height: 44px;
	
	font-weight: 400;
	font-size: 30px;
	line-height: 44px;
	text-align: center;
	
	margin-top: 19px;
	margin-left: 70px;
}

.vine-title-1 {
	width: 280px;
	height: 44px;
	
	font-weight: 400;
	font-size: 30px;
	line-height: 44px;
	text-align: center;
	
	margin-top: 19px;
	margin-left: 100px;
}

.vine-title-2 {
	width: 250px;
	height: 44px;
	
	font-weight: 400;
	font-size: 30px;
	line-height: 44px;
	text-align: center;
	
	margin-top: 19px;
	margin-left: 100px;
}

.vine-par {
	width: 366px;
	height: 56px;
	
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	
	margin-top: 16px;
	margin-left: 10px;
}

.vine-par-1 {
	width: 378px;
	height: 56px;
	
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	
	margin-top: 16px;
	margin-left: 56.77px;
}

.vine-par-2 {
	width: 364px;
	height: 56px;
	
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	
	margin-top: 16px;
	margin-left: 56.77px;
}

.button-vine {
	width: 180px;
	height: 52px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	
	background: var(--button-bacground-color);
	color: var(--button-text-color);
	
	margin-top: 27px;
	margin-left: 90px;
}

.button-vine-1 {
	width: 180px;
	height: 52px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	
	background: var(--button-bacground-color);
	color: var(--button-text-color);
	
	margin-top: 27px;
	margin-left: 155.77px;
}

.button-vine-2 {
	width: 180px;
	height: 52px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	
	background: var(--button-bacground-color);
	color: var(--button-text-color);
	
	margin-top: 27px;
	margin-left: 155.77px;
}

/*section apperitifs*/

.apperitifs {
	width: 1440px;
	height: 870px;
	
	margin-top: 0px;
	margin-left: 0px;
}

.foto-apperitifs {
	margin-top: 60.09px;
	margin-left: 60px;
}

.apperitifs-title {
	width: 500px;
	height: 80px;
	
	font-weight: 400;
	font-size: 53px;
	line-height: 83px;
	
	margin-top: 54px;
	margin-left: 25px;
}

.apperitifs-par {
	width: 548px;
	height: 96px;
	
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	
	margin-top: 59px;
	margin-right: 62px;
	margin-left: 270px;
}

/*section easy*/

.easy {
	width: 1440px;
	height: 717.61px;
	
	margin-top: 0px;
	margin-left: 0px;
}

.easy-div {
	width: 1440px;
	height: 717.61px;	
}

.easy-title {
	width: 385px;
	height: 44px;
	
	font-weight: 400;
	font-size: 30px;
	line-height: 44px;
	
	padding: 0px;
	margin-top: 112.09px;
	margin-left: 30px;
	margin-bottom: 0px;
}

.easy-title-1 {
	width: 358px;
	height: 88px;
	
	font-weight: 400;
	font-size: 30px;
	line-height: 44px
		;
	padding: 0px;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 0px;
}

.easy-title-2 {
	width: 385px;
	height: 44px;
	
	font-weight: 400;
	font-size: 30px;
	line-height: 44px;
	
	padding: 0px;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 0px;
}

.easy-par {
	width: 381px;
	height: 96px;
	
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	
	padding: 0px;
	margin-top: 17px;
	margin-left: 30px;
	margin-bottom: 0px;
}

.easy-par-1 {
	width: 373px;
	height: 125px;
	
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	
	padding: 0px;
	margin-top: 17px;
	margin-left: 30px;
	margin-bottom: 0px;
}

.easy-par-2 {
	width: 354px;
	height: 64px;
	
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	
	padding: 0px;
	margin-top: 17px;
	margin-left: 30px;
	margin-bottom: 0px;
}

.easy-foto {
	float: right;
	
	margin-top: -53px;
	margin-right: 60px;
}

/*section bayed*/

.bayed {
	width: 1440px;
	height: 313px;
	
	background: var(--background-color-two);
	
	margin-top: 0px;
	margin-left: 0px;
}

.bayed-par {
	width: 301px;
	height: 64px;
	
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	
	color: var(--title);
	
	margin-top: 95.48px;
	margin-left: 75px;
}

.bayed-par-1 {
	width: 301px;
	height: 64px;
	
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	
	color: var(--title);
	
	margin-top: 95.48px;
	margin-left: 165px;
}

.bayed-par-2 {
	width: 301px;
	height: 64px;
	
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	
	color: var(--title);
	
	margin-top: 95.48px;
	margin-left: 165px;
}

.bayed-par-3 {
	width: 86px;
	height: 31px;
	
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	
	color: var(--title);
	
	margin-top: -30px;
	margin-left: 165px;
}

.bayed-par-4 {
	width: 86px;
	height: 31px;
	
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	
	color: var(--title);
	
	margin-top: 0px;
	margin-left: 391px;
}

.bayed-par-5 {
	width: 108px;
	height: 21px;
	
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	
	color: var(--title);
	
	margin-top: 0px;
	margin-left: 365px;
}

.bayed-par-6 {
	width: 104px;
	height: 24px;
	
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	
	color: var(--title);
	
	margin-top: -60px;
	margin-left: 160px;
}


.bayed-par-7 {
	width: 104px;
	height: 24px;
	
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	
	color: var(--title);
	
	margin-top: -30px;
	margin-left: 375px;
}


.bayed-par-8 {
	width: 104px;
	height: 24px;
	
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	
	color: var(--title);
	
	margin-top: -30px;
	margin-left: 360px;
}

/*section producers*/

.producers {
	display: flex;
	
	width: 1440px;
	height: 589.78px;
	
	margin-top: 0px;
	margin-left: 0px;
}

.producers-foto {
	float: left;
	
	margin-top: 60px;
	margin-left: 60px;
}

.producers-title {
	float: right;
	
	width: 628px;
	height: 160px;
	
	font-family: 'Liberation Serif';
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 80px;
	
	margin-top: 61px;
	margin-right: 92px;
}

.producers-par {
	float: right;
	
	width: 652px;
	height: 95px;
	
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	
	margin-top: 60px;
	margin-right: 68px;
}

.producers-par-1 {
	float: left;
	
	width: 100px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	
	margin-top: 60px;
	margin-left: 110px;
/*	margin-right: 510px;*/
}

/*section set*/

.set {
	position: relative;
	
	width: 1440px;
	height: 568px;
	
	background-image: url("./img/11-1.png");
	
	margin-top: 0px;
	margin-left: 0px;
}

/* .set-div {
	display: flex;
} */
.set-foto {
	position: absolute;
	
	margin-top: 0px;
	margin-left: 0px;
}

.set-content {
	position: absolute;
	
	width: 550px;
	height: 303px;
	
	background: var(--text-color);
	
	margin-top: 59.7px;
	margin-left: 60px;
}

.set-title {
	position: absolute;
	
	width: 295px;
	height: 80px;
	
	font-family: 'Liberation Serif';
	font-style: normal;
	font-weight: 400;
	font-size: 55px;
	line-height: 80px;
	text-align: center;
	
	color: var(--title);
	
	margin-top: 40px;
	margin-left: 128px;
}

.set-par {
	position: absolute;
	
	width: 412px;
	height: 56px;
	
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	
	color: var(--title);
	
	margin-top: 129px;
	margin-left: 69px;
}

.set-par-2 {
	position: absolute;
	
	width: 64px;
	height: 14px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	
	margin-top: -5px;
	margin-left: 50px;
}

.set-button {
	position: absolute;
	
	width: 180px;
	height: 52px;
	
	background: var(--button-text-color);
	
	margin-top: 211px;
	margin-left: 185px;
}

/*
.set-content-1 {
	position: absolute;
	width: 550px;
	height: 125px;
	background: var(--text-color);
	margin-top: 382.7px;
	margin-left: 58px;
}
*/

/*
.set-title-1 {
	position: absolute;
	width: 412px;
	height: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: var(--text-color);
	margin-top: 20px;
	margin-left: 175px;
	
}*/

/*section footer*/

.footer {
	position: relative;
	
	width: 1440px;
	height: 617px;
	
	background: var(--background-color-two);
	
	margin-top: -20px;
	margin-left: 0px;
}

/*
.footer-div {
	position: absolute;
	
	margin-top: 45.3px;
	margin-left: 60px;
}
*/

.footer-title {
	position: absolute;
	
	width: 195px;
	height: 72px;
	
	font-family: 'Liberation Serif';
	font-style: normal;
	font-weight: 400;
	font-size: 42px;
	line-height: 72px;
	
	color: var(--title);
	
	margin-top: 45px;
	margin-left: 60px;
}

.footer-par {
	position: absolute;
	
	width: 424px;
	height: 81px;
	
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	
	color: var(--title);
	
	margin-top: 129px;
	margin-left: 60px;
}

.footer-par-1 {
	position: absolute;
	
	width: 126px;
	height: 14px;
	
	font-weight: 400;
	font-size: 9px;
	line-height: 14px;
	letter-spacing: 0.12px;
	text-transform: uppercase;
	
	color: #818181;
	
	margin-top: 242px;
	margin-left: 60px;
}

.footer-par-2 {
	position: absolute;
	
	width: 53px;
	height: 14px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.12px;
	text-transform: uppercase;
	
	color: #818181;
	
	margin-top: 242px;
	margin-left: 445px;
	
}

.footer-li-title {
	position: absolute;
	
	width: 87px;
	height: 21px;
	
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	
	color:  var(--title);
	
	margin-top: 80.7px;
	margin-left: 720px;
}

.footer-li-title-1 {
	position: absolute;
	
	width: 80px;
	height: 21px;
	
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	
	color:  var(--title);
	
	margin-top: 80.7px;
	margin-left: 938px;
}

.footer-li-title-2 {
	position: absolute;
	
	width: 152px;
	height: 21px;
	
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	
	color:  var(--title);
	
	margin-top: 80.7px;
	margin-left: 1156px;
}

.footer-li-link {
	position: absolute;
	
	width: 45px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 131.41px;
	margin-left: 720px;
}

.footer-li-link-1 {
	position: absolute;
	
	width: 42px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 170.7px;
	margin-left: 720px;
}

.footer-li-link-2 {
	position: absolute;
	
	width: 102px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 209.7px;
	margin-left: 720px;
}

.footer-li-link-3 {
	position: absolute;
	
	width: 86px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 248.7px;
	margin-left: 720px;
}

.footer-li-link-4 {
	position: absolute;
	
	width: 30px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 287.7px;
	margin-left: 720px;
}

.footer-li-link-5 {
	position: absolute;
	
	width: 126px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 326.7px;
	margin-left: 720px;
}

.footer-li-link-6 {
	position: absolute;
	
	width: 158px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 365.7px;
	margin-left: 720px;
}

.footer-li-link-7 {
	position: absolute;
	
	width: 82px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 404.7px;
	margin-left: 720px;
}

.footer-li-link-8 {
	position: absolute;
	
	width: 111px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 131px;
	margin-left: 938px;
}

.footer-li-link-9 {
	position: absolute;
	
	width: 85px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 170px;
	margin-left: 938px;
}

.footer-li-link-10 {
	position: absolute;
	
	width: 88px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 209px;
	margin-left: 938px;
}

.footer-li-link-11 {
	position: absolute;
	
	width: 104px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 248px;
	margin-left: 938px;
}

.footer-li-link-12 {
	position: absolute;
	
	width: 158px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 131.41px;
	margin-left: 1156px;
}

.footer-li-link-13 {
	position: absolute;
	
	width: 158px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 170.7px;
	margin-left: 1156px;
}

.footer-li-link-14 {
	position: absolute;
	
	width: 224px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 209.7px;
	margin-left: 1156px;
}

.footer-li-link-15 {
	position: absolute;
	
	width: 145px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 248.7px;
	margin-left: 1156px;
}

.footer-li-link-16 {
	position: absolute;
	
	width: 203px;
	height: 18px;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 287.7px;
	margin-left: 1156px;
}

.footer-li-link-17 {
	position: absolute;
	
	width: 150px;
	height: 24px;
	
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 537.7px;
	margin-left: 60px;
}


.footer-li-link-18 {
	position: absolute;
	
	width: 150px;
	height: 24px;
	
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 538px;
	margin-left: 213px;
}


.footer-li-link-19 {
	position: absolute;
	
	width: 150px;
	height: 24px;
	
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 538px;
	margin-left: 354px;
}

.footer-li-link-20 {
	position: absolute;
	
	width: 150px;
	height: 24px;
	
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 538px;
	margin-left: 511px;
}

.footer-li-link-21 {
	position: absolute;
	
	width: 250px;
	height: 24px;
	
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 538px;
	margin-left: 671px;
}
